a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country-info__details {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

span {
  font-weight: bolder;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.not-found {
  text-align: center;
}

.not-found__text {
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(0.75rem + 1vw);
}

.country-details {
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

.country-info__details-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.country-details__main {
  margin-bottom: 1rem;
}

.country-details__main-back {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0.5em;
  background-color: hsl(209, 23%, 22%);
  border-radius: 0.5rem;
}

.country-details__main-back:hover {
  background-color: hsla(209, 23%, 22%, 0.3);
}

.country-details__main-flag {
  max-width: 600px;
}

.country-borders__borders-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.country-border__border-list__item {
  background-color: hsl(209, 23%, 22%);
  border-radius: 0.125em;
  padding: 0.5em;
}

@media (min-width: 1000px) {
  .country-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .country-details__secondary {
    align-self: center;
  }
}
