* {
  box-sizing: border-box;
}

.home-region-dropdown {
  list-style: none;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 0.25rem;
}

.home-region-dropdown__sub {
  margin-bottom: 0.5em;
  list-style: none;
  text-align: left;
  background-color: hsl(209, 23%, 22%);
  padding: 0;
  display: none;
}

.home-region-dropdown:hover > .home-region-dropdown__sub {
  display: block;
}

.home-region-dropdown__sub-items {
  margin-top: 0.5em;
  cursor: pointer;
  padding: 0 0.5em;
}

.home-region-dropdown__sub-items:hover,
.home-region-dropdown__sub-items:focus {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.home-container {
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}

.home-container__countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.search-filter {
  width: 100%;
  text-align: center;
}

.region-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
  color: hsl(0, 0%, 100%);
  list-style: none;
  margin-block: 2rem;
  padding: 0;
}

.region-select__region {
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 1em 0.25em;
  background-color: hsl(209, 23%, 22%);
  border-radius: 0.5rem;
  width: 5.5rem;
  text-align: center;
}

.region-select__region:hover {
  background-color: hsla(209, 23%, 22%, 0.3);
}

.region-select__region-active {
  border: 3px solid hsl(0, 0%, 100%);
  position: relative;
}

.region-select__region-active::after {
  position: absolute;
  content: "X";
  width: 1rem;
  top: -0.6rem;
  right: -0.75rem;
  color: red;
  font-weight: bold;
  background-color: hsl(0, 0%, 100%);
  border-radius: 100%;
  padding: 0.25rem;
}

.home-countries {
  height: auto;
  box-shadow: 0 0 5px 0.1px black;
  border-radius: 2px;
  margin-top: 2rem;
}

.card {
  display: inline-block;
  margin-bottom: 1rem;
  max-width: 300px;
}

.home-countries:hover {
  background-color: hsla(209, 23%, 22%, 0.3);
}

.img {
  width: 100%;
  height: 18.75rem;
  padding: 0.25rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.home-countries-details {
  font-size: 0.875rem;
  color: hsl(0, 0%, 100%);
  padding: 1rem;
}

.home-countries-details__country {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.home-countries-details__text {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-countries-details__text-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.home-countries-details__text li {
  margin: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.search {
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 2rem auto;
  text-align: center;
}

.country-search {
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  padding-left: 2rem;
}

.error {
  color: hsl(0, 100%, 50%);
  margin-top: 0.5em;
  margin-left: 1rem;
  font-size: 0.7em;
}

.hidden {
  display: none;
}

show {
  display: block;
}
@media only screen and (max-width: 375px) {
  .search {
    margin: 2rem auto;
  }

  .dropdown {
    justify-self: start;
    margin: 0 auto;
  }

  .dropbtn {
    width: 40vw;
  }

  .home-container {
    justify-content: start;
  }

  .home-countries {
    width: 80vw;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 376px) and (max-width: 847px) {
  .search {
    margin: 2rem auto;
  }

  .dropdown {
    justify-self: start;
    margin: 0 auto;
  }

  .dropbtn {
    width: 30vw;
    justify-self: start;
  }

  .home-container {
    justify-content: center;
  }

  .home-countries {
    margin: 0 auto;
  }
}
